// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere

$font-family-sans-serif: 'Montserrat', sans-serif;
$brand-primary:         #895cd1; //#ff6d5a
$brand-facebook-color:  #3b5998;
$brand-twitter-color:   #55acee;
$brand-google-color:    #dd4b39;
$brand-email-color:     #4BA443;

// Top Bar
$top-bar-bg: #0E1E4E;
$top-bar-color: #6DABC6;

// Navbar
$navbar-bg: #2B479C;

// Hero Post
$hero-text-color: white;
$hero-bk-overlay: rgba(33, 94, 189, 0.65);

// Basics of a navbar
$navbar-height:                    60px;
$navbar-margin-bottom:             0px;
$navbar-border-radius:             0px;

// Home page
$home-bg: #EBEBEB;
$home-post-bg: white;