.top-bar {
  background-color: $top-bar-bg;
  color: $top-bar-color;
  padding: 5px 0;
}

.navbar {
  background-color: $navbar-bg;
  text-align: center;
  .navbar-brand {
    float: none;
    img {
      max-height: 60px;
      width: auto;
    }
  }
}

.home {
  background-color: $home-bg;
  .post-hero {
    background-color: $brand-primary;
    background-size: cover;
    color: $hero-text-color;
    margin-bottom: 30px;
    > div {
      background-color: $hero-bk-overlay;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    a {
      color: inherit;
    }

    .entry-title {
      text-transform: uppercase;
    }
  }
  .posts-featured {
    margin-bottom: 30px;
    .post {
      background-color: $home-post-bg;
      padding: 15px;
      margin-bottom: 15px;
      .entry-title { font-weight: bold; }
      img.aligncenter {
        width: 100%;
      }
    }
  }
}

#wrapper-footer-full {
  background-color: white;
}
.footer-widget {
  margin-bottom: 15px;
}

// Share buttons

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@include media-breakpoint-down(xs) {
  .hentry {
    img.alignleft {
      display: block;
      float: none;
      padding: 0;
      margin: 0 auto;
    }
  }
}

@include media-breakpoint-up(md) {
  .posts-featured.row {
    display: table;
    & > [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
        background-color: $home-post-bg;
        padding: 0;
        border-left: 15px solid $home-bg;
        border-right: 15px solid $home-bg;
    }
  }
}