.top-bar {
  background-color: $top-bar-bg;
  color: $top-bar-color;
  padding: 5px 0;
}

.navbar {
  background-color: $navbar-bg;
  text-align: center;
  .navbar-brand {
    float: none;
    img {
      max-height: 60px;
      width: auto;
    }
  }
}

.home {
  background-color: $home-bg;
  .post-hero {
    background-color: $brand-primary;
    background-size: cover;
    color: $hero-text-color;
    margin-bottom: 30px;
    > div {
      background-color: $hero-bk-overlay;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    a {
      color: inherit;
    }

    .entry-title {
      text-transform: uppercase;
    }
  }
}

.posts-featured {
  margin-bottom: 30px;
  .post {
    background-color: $home-post-bg;
    padding: 15px;
    margin-bottom: 15px;
    .entry-title { font-weight: bold; }
    img.aligncenter {
      width: 100%;
    }
  }
}

.related-posts {
  background-color: $home-bg;
  margin-top: 30px;
  padding-top: 30px;
  .section-title {
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
  }
}

#wrapper-footer-full {
  background-color: white;
}
.footer-widget {
  margin-bottom: 15px;
}

// Share buttons
ul.share-buttons{
  list-style: none;
  padding: 0;
  li {
    display: inline;
  }
  .icon-facebook {
    color:$brand-facebook-color;
  }
  .icon-twitter {
    color:$brand-twitter-color;
  }
  .icon-google {
    color:$brand-google-color;
  }
  .icon-envelope {
    color:$brand-email-color;
  }
  .sr-only {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
}


@include media-breakpoint-down(xs) {
  .hentry {
    img.alignleft {
      display: block;
      float: none;
      padding: 0;
      margin: 0 auto;
    }
  }
}

@include media-breakpoint-up(sm) {
  .posts-featured {
    .post {
      margin-left: 50px;
      position: relative;
    }
    ul.share-buttons {
      position: absolute;
      top: 5px;
      left: -45px;
      li {
        display: block;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .posts-featured {
    display: table;
    .post {
      // remove small screen share btn margin
      margin-left: 0;
    }
    & > [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
        background-color: $home-post-bg;
        padding: 0;
        border-left: 50px solid $home-bg;
        border-right: 15px solid $home-bg;
    }
  }
}